{% extends "layout.twig" %}

{% block contenido %}

<div class="container">
	<div class="col col-6-center card">
		<h2 class="title">
			<span class="icon">
				<i class="fa fa-user"></i>
			</span>
			{{ producto.nombre }}
		</h2>
		<div class="user-data">
				<span class="field">Marca: {{ producto.marca }}</span>
				<span class="field">Stock: {{ producto.stock }} </span>
				<span class="field">Stock mínimo:	{{ producto.stock_minimo }}</span>
				<span class="field">Proovedor:	{{ producto.proovedor }} </span>
				{% for categoria in categoriaProd %}
				<span class="field">Categoría: {{ categoria.nombre }} </span>
				{% endfor %}
				<span class="field">Precio de venta unitario: {{ producto.precio_venta_unitario }} </span>
				<span class="field">Descripcion: {{ producto.descripcion }} </span>
		</div>
		<div id="edit" class="modal">
      <form method="post" class="modal-content abm-content">
        <a class="close" onclick="cerrar()" onkeypress="cerrar()" role="button">×</a>
        <h3>Editar producto</h3>
        <label for="editProductName">Nombre: </label>
        <input type="text" name="nombre" id="editProductName" maxlength="20" value="{{ producto.nombre }}"  required />
        <label for="editMarkName">Marca: </label>
        <input type="text" name="marca" id="editMarkName" maxlength="20" value="{{ producto.marca }}" required />
        <label for="editStockAct">Stock actual: </label>
        <input type="number" name="stock" id="editStockAct" value="{{ producto.stock }}" required/>
        <label for="editStockMin">Stock mínimo: </label>
        <input type="number" name="stock_minimo" id="editStockMin" value="{{ producto.stock_minimo }}" required />
        <label for="editCategory">Categoría: </label>
        <select id="editCategory" name="categoria_id" required>
         <option value="" selected="selected">Seleccione</option>
         {% for categoria in categorias %}
            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
         {% endfor %}
        </select>
        <label for="editProviderName">Proovedor: </label>
        <input type="text" id="editProviderName" maxlength="20" value="{{ producto.proovedor }}" name="proovedor" required />
        <label for="editDescription">Descripción: </label>
        <input type="text" id="editDescription" maxlength="255" value="{{ producto.descripcion }}" name="descripcion" required />
        <label for="editPrice">Precio venta: </label>
        <input type="number" name="precio_venta_unitario" id="editPrice" min="0" step="0.5" value="{{ producto.precio_venta_unitario }}" required />
        <br><br>
		<input type="hidden" name="prodid" value="{{ producto.id }}"/>
        <input type="submit" value="Modificar"/>
      </form>
    </div>
		<div class="right">
			<a href="#" class="action-button shadow animate green active" onclick ="mostrar('edit')" role="button">
				<i class="fa fa-pencil"></i>Modificar
			</a>
		</div>
	</div>
</div>
{% endblock %}
