{% extends "layout.twig" %}

{% block contenido %}

<form class="formAltaProd" for="formAltaProd" method="post" action="agregarProductoPedido" enctype="multipart/form-data">
  <fieldset class="fieldAltaProd"  >
  <label for="producto">Seleccione el producto: </label>
  <select id="producto" name="producto" required>
   <option value="" selected="selected">Seleccione</option>
   {% for menu in menus %}
   {% if menu.habilitado == 0 %}
   <option value="{{ menu.producto.id }}">{{ menu.producto.nombre }} | {{ menu.producto.marca}} | {{"Precio="}} {{menu.producto.precio_venta_unitario}}
   | {{"Cantidad="}} {{menu.producto.stock}} </option>
   {% endif %}
   {% endfor %}
  </select>
  <input type="hidden" name="userId"  id="userId" value="{{session.id}}">
  <input type="hidden" name="pedido" value="{{ pedido.id }}">

  <input type="number" placeholder="Ingrese cantidad" name="cant">

     <input type="submit" value="Confirmar"/>
  </fieldset>

</form>

{% endblock %}
