{% extends "layout.twig" %}

{% block contenido %}

<form class="formAltaProd" method="post" action="altausuario">

  <fieldset class="fieldAltaProd" >
  <legend>Alta Usuario </legend>
  <h3>Nuevo Usuario</h3>
        <label for="newName">Nombre: </label>
        <input type="text" name="nombre" id="newName" maxlength="55" value="{{nommbre}}" placeholder="Nombre" required/>
        <label for="newApellido">Apellido: </label>
        <input type="text" name="apellido" id="newApellido" maxlength="45" value="{{apellido}}" placeholder="Apellido" required/>
        <label for="newTelefono">Teléfono: </label>
        <input type="number" name="telefono" id="newTelefono" value="{{telefono}}" placeholder="Tel.." required/>
        <label for="newRol">Rol: </label>
        <select id="newRol" name="rol_id" required>
         <option value="" selected="selected">Seleccione</option>
         <option value="1">Administrador</option>
         <option value="2">Usuario Online</option>
         <option value="3">Gestión</option>
        </select>
        <label for="newUbicacion" id="labelUbicacion">Ubicación: </label>
        <select id="newUbicacion" name="ubicacion_id">
         <option value="" selected="selected">Seleccione</option>
         {% for ubicacion in ubicaciones %}
         <option value="{{ ubicacion.id }}">{{ ubicacion.nombre }} | {{ ubicacion.descripcion }}</option>
         {% endfor %}
        </select>
        <label for="newMail">Mail: </label>
        <input type="email" name="email" value="{{email}}" id="newMail" placeholder="Email.." required/>
        <label for="newDocumento">Documento: </label>
        <input type="number" name="documento" id="newDocumento" value="{{documento}}"  placeholder="Documento" required/>
        <label for="newUsername">Nombre de usuario: </label>
        <input type="text" name="user" id="newUsername" maxlength="20" value="{{user}}" placeholder="Nombre de usuario" required/>
        <label for="newPassword">Contraseña: </label>
        <input type="password" name="pass" id="newPassword" maxlength="20" placeholder="Contraseña" required/>
        <label for="newPassword2">Repita Contraseña: </label>
        <input type="password" id="newPassword2" maxlength="20" placeholder="Repita contraseña" required />
        <label for="habilitado">Habilitado </label>
        <select id="habilitado" name="habilitado" required>
         <option value="" selected="selected">Seleccione</option>
         <option value="0">Si</option>
         <option value="1">No</option>
        </select>
         <br>
        <input type="submit" value="Agregar">


  </fieldset>

</form>

{% endblock %}
