{% extends "layout.twig" %} 

{% block contenido %}

<input type="text" id="botoninfo "name="botoninfo" value='{{ desde|date("d/m/Y") }} a {{ hasta|date("d/m/Y") }}'></input>
<table>
	<tr>
		<th id="tipo"> Tipo de ingreso</th>
		<th id="nombre">Nombre</th>
		<th id="marca">Marca</th>
		<th id="IngresoDescripcion">Descripcion</th>
		<th id="Cantidad">Cantidad</th>
		<th id="PrecioUnitario">Precio unitario</th>
		<th id="Acciones">Fecha</th>
		
	</tr>
		{% autoescape 'html' %}
		{% for ingreso_detalle in ingresosentre %}
		
	<tr>
		
				<td>Mostrador</td>
				<td>{{ ingreso_detalle.producto.nombre}}</td>
				<td>{{ ingreso_detalle.producto.marca}}</td>
				<td>{{ ingreso_detalle.descripcion}}</td>
				<td>{{ ingreso_detalle.cantidad }}</td>
				<td>{{ ingreso_detalle.producto.precio_venta_unitario }}</td>
				<td>{{ ingreso_detalle.fecha|date("d/m/Y") }}</td>
				

	</tr>
		{% endfor %}
		{% endautoescape %}

		{% autoescape 'html' %}
		{% for pedido in pedidos%}
				
		<tr>
				<td>Pedido online {{ pedido.id }}</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>{{ pedido.fecha_alta|date("d/m/Y") }}</td>
			
		{% endfor%}
		{% endautoescape %}
		</tr>
		

	</table>

	<table>
	<th id="tot">Total recaudado:</th>
	<th id="suma total"> $ {{ sumaingresos + sumapedidos}} </th>

	</table>
	

{% endblock %}