{% extends "layout.twig" %} 

{% block contenido %}

<input type="text" id="botoninfo "name="botoninfo" value='{{ desde|date("d/m/Y") }} a {{ hasta|date("d/m/Y") }}'></input>
<table>
	<tr>
		<th id="compra">Compra</th>
		<th id="proveedor">Proveedor</th>
	
		<th id="fecha">Fecha</th>
		
	</tr>
		{% autoescape 'html' %}

		{% for compra in comprasentre %}
		
		
	<tr>
				<td>Compra {{ compra.id }} </td>
				<td>{{ compra.proveedor}}</td>
		
				<td>{{ compra.fecha|date("d/m/Y") }}</td>

	</tr>
	
		{% endfor %}

		{% endautoescape %}
		

	</table>


	<table>

	<th id="tot">Total recaudado:</th>
	<th id="suma total"> $ {{ sumaegresos }} </th>

	</table>
	

{% endblock %}