{% extends "layout.twig" %}

{% block contenido %}

<a href="{{ baseUrl() }}/compras/altacompra" target="rightframe"><input type="button" value="Nueva compra" /></a>

<table summary="Tabla de compras del Buffet">
	<tr>
		<th id="Proveedor">PROVEEDOR</th>
		<th id="ProveedorCuit">PROVEEDOR CUIT</th>

		<th>ACCIONES</th>

	</tr>
		{% for compra in compras %}
		  <tr id="{{ compra.id }}">
				<td>{{ compra.proveedor }}</td>
				<td>{{ compra.proveedor_cuit }}</td>

				<td>
					<a href="compras/egresos?user={{ compra.id }}"> <input type="button" value="Ver productos agregados" /></i></a>
					<a href="compras/agregarproductoacompra?id={{ compra.id }}"> <input type="button" value="+Agregar producto" /></i></a>
					<a href="compras/editCompra?id={{ compra.id }}"> <input type="button" value="Editar Compra" /></i></a>
					<a href="deleteCompra?id={{ compra.id }}"> <input type="button" value="Eliminar" /></i></a>


				</td>
			</tr>
		{% endfor %}
	</table>

{% include 'paginacion/paginacionCompras.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
