{% extends "layout.twig" %}

{% block contenido %}

<a href="{{ baseUrl() }}/altacompra" target="rightframe"><input type="button" value="AGREGAR UNA COMPRA" /></a>

<table summary="Tabla de compras del Buffet">
	<tr>
		<th id="Proveedor">PROVEEDOR</th>
		<th id="ProveedorCuit">PROVEEDOR CUIT</th>
		<th>Productos comprados</th>
	</tr>
		{% for compra in compras %}
		  <tr id="{{ compra.id }}">
				<td>{{ compra.proveedor }}</td>
				<td>{{ compra.proveedor_cuit }}</td>
				<td>
					<a href="egresos?id={{ compra.id }}"> <input type="button" value="Ver" /></i></a>
				</td>
			</tr>
		{% endfor %}
	</table>

{% include 'paginacion/paginacionCompras.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
