{% extends "layout.twig" %}

{% block contenido %}


 <form action="{{ baseUrl() }}/compras/altacompra" target="rightframe" method="get">

 <button type="submit">NUEVA COMPRA</button><br>
  
</form>

<table>
	<tr>
		<th id="Proveedor">PROVEEDOR</th>
		<th id="ProveedorCuit">PROVEEDOR CUIT</th>

		<th>ACCIONES</th>

	</tr>
		{% for compra in compras %}
		  <tr id="{{ compra.id }}">
				<td>{{ compra.proveedor }}</td>
				<td>{{ compra.proveedor_cuit }}</td>

				<td>
					<a href="egresos/page?user={{ compra.id }}&ids=1"> Ver productos agregados</a>
					<a href="agregarproductoacompra?id={{ compra.id }}"> Agregar un producto </a>
					<a href="editCompra?id={{ compra.id }}"> <img title="Editar compra" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>
					<a href="deleteCompra?id={{ compra.id }}"> <img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>


				</td>
			</tr>
		{% endfor %}
	</table>

{% include 'paginacion/paginacionCompras.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
