{% extends "layout.twig" %}

{% block contenido %}

<form class="formAltaProd" method="post" action="editProducto">

  <fieldset class="fieldAltaProd">
    <legend>Editar usuario</legend>
    <label for="editName">Nombre: </label>
    <input type="text" name="nombre" id="editName" maxlength="45" value="{{ producto.nombre }}" required/>
    <label for="editMarca">Marca: </label>
    <input type="text" name="marca" id="editMarca" maxlength="45" value="{{ producto.marca }}" required/>

    <label for="editStock">Stock: </label>
    <input type="number" name="stock" id="editStock" value="{{ producto.stock}}" required/>

  <label for="editStockMin">Cantidad minima de Stock: </label>
    <input type="number" name="stock_minimo" id="editStockMin" value="{{ producto.stock_minimo}}" required/>

     <label for="proovedor">Proovedor: </label>
    <input type="text" name="proovedor" id="proovedor" maxlength="25" value="{{ producto.proovedor}}" required/>

     <label for="editPrecio">Precio unitario: </label>
    <input type="number" name="precio_venta_unitario" id="editPrecio" value="{{ producto.precio_venta_unitario}}" required/>

    <label for="categoria_id">Categor&iacute;a: </label>
    <select name="categoria_id" id="categoria_id" required>
    <option value="" >Seleccione</option>
      {% autoescape 'html' %}
     {% for categoria in categorias %}
        <option {% if producto.categoria_id.id == categoria.id %}selected="selected" {% endif %} value="{{ categoria.id }}">{{ categoria.nombre }}</option>
     {% endfor %}
     {% endautoescape %}
    </select>

    <label for="editDescripcion">Descripcion: </label>
    <input type="text" name="descripcion" id="editDescripcion" maxlength="25" value="{{ producto.descripcion}}" required/>


    <input type="hidden" name="productoid" value="{{ producto.id }}"/>
    <input type="hidden" name="token" value={{token}} />
    <input type="submit" value="Modificar"/>
    </fieldset>
  </form>


{% endblock %}
