{% extends "layout.twig" %}

{% block contenido %}

<form class="formAltaProd" method="post" action="editegreso">

  <fieldset class="fieldAltaProd" >
    <legend>Editar egreso</legend>
    <label for="producto_id">Producto: </label>
    <select name="producto_id" id="producto_id" required>
    <option value="">Seleccione</option>
    {% autoescape 'html' %}
     {% for producto in productos %}
        <option {% if egreso_detalle.producto.id == producto.id %}selected="selected" {% endif %}value="{{ producto.id }}">{{ producto.nombre }} {{ producto.marca }}</option>
     {% endfor %}
     {% endautoescape %}
    </select>

    <label for="cantidad">Cantidad: </label>
    <input type="number" name="cantidad" id="cantidad" value="{{ egreso_detalle.cantidad}}" required/>

    <label for="precio_unitario">Precio unitario</label>
    <input type="number" name="precio_unitario" id="precio_unitario" value="{{ egreso_detalle.precio_unitario}}" required/>


    <label for="egreso_tipo_id">Tipo venta: </label>
    <select name="egreso_tipo_id" id="egreso_tipo_id" required>
    <option value="">Seleccione</option>
         {% autoescape 'html' %}
       {% for tipo in tiposegreso %}
          <option {% if egreso_detalle.egreso_tipo_id.id == tipo.id %}selected="selected" {% endif %}value="{{ tipo.id }}">{{ tipo.nombre }}</option>
       {% endfor %}
       {% endautoescape %}

    </select>


    <input type="hidden" name="egresoid" value="{{ egreso_detalle.id }}"/>
    <input type="hidden" name="token" value={{token}}>

    <input type="submit" value="Modificar"/>
     </fieldset>
  </form>





{% endblock %}
