{% extends "layout.twig" %}

{% block contenido %}
<table>
	<tr>
		<th id="ProdctoNombre">Nombre del producto</th>
		<th id="ProdctoMarca">Marca del producto</th>
		<th id="Cantidad">Cantidad</th>
		<th id="ProdctoId">Precio unitario</th>
		<th id="acciones">Acciones</th>
	</tr>
		{% autoescape 'html' %}
		{% for egreso_detalle in egresos %}

	<tr>

				<td>{{ egreso_detalle.producto.nombre }}</td>
				<td>{{ egreso_detalle.producto.marca }}</td>
				<td>{{ egreso_detalle.cantidad }}</td>
				<td>{{ egreso_detalle.preciounitario }}</td>
				<td>
					<a href="editegreso?id={{ egreso_detalle.id }}"><img title="Editar" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>
					<a href="delete?id={{ egreso_detalle.id }}&token={{token}}"><img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>
				</td>

		{% endfor %}
		{% endautoescape %}

	</tr>

	</table>
	{% include 'paginacion/paginacionEgresos.twig' with {'pagesCount' : pagesCount, 'idCompra' : idCompra} %}


{% endblock %}
