{% extends "layout.twig" %}

{% block contenido %}

		<table summary="Tabla de productos del buffet">
		  <tr>
		    <th id="Nombre">NOMBRE</th>
		    <th id="Marca">MARCA</th>
		    <th id="Stock">STOCK</th>
		    <th id="Stockmin">STOCKMINIMO</th>
		  </tr>
			{% for producto in productos.iterator %}
				<tr id="{{ producto.id }}">
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.marca }}</td>
					<td>{{ producto.stock }}</td>
					<td>{{ producto.stock_minimo }}</td>
				</tr>
			{% endfor %}
		  </table>
{% include 'paginacion/paginacionFaltantes.twig' with {'pagesCount' : pagesCount} %}
{% endblock %}
