{% extends "layout.twig" %}

{% block contenido %}

<input type="text" id="botoninfo "name="botoninfo" value='{{ desde|date("d/m/Y") }} a {{ hasta|date("d/m/Y") }}'></input>

	<table>

	<th id="toti">Total recaudado en ganancias:</th>
	<th id="sum totali"> $ {{ sumaingresosdetalle }} </th>

	
	<table> 
	<th id="tot">Total de egresos en compras:</th>
	<th id="suma total"> $ {{ sumaegresosdetalle }} </th>

	</table>

	<table>
	<th id="resumen">Balance</th>
	<th id="resumentotal"> $ {{ total }}</th>
	</table>

	<table>
	<tr>
		<th>Producto</th>
		<th>Cantidad vendida desde {{ desde|date("d/m/Y") }} hasta {{ hasta|date("d/m/Y") }}</th>
	</tr>

		{% autoescape 'html' %}
		{% for producto in productos%}
		<tr>
			<td>{{ producto.name }}</td>
			<td>{{ producto.y }} </td>
		</tr>
		{% endfor %}
		{% endautoescape %}
	
	</table>

	<script type="text/javascript">
	$(function () {
			Highcharts.chart('container',{{json|json_encode|raw}});
		})
		</script>
		<script type="text/javascript">
$(function () {
    Highcharts.chart('container2',{{json2|json_encode|raw}});
  })
  </script>
	<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
	<div id="container2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>


	

{% endblock %}