{% extends "layout.twig" %}

{% block contenido %}
<div class="contenedor">
        <div class="info">
              <section >
                  <h2>{{tituloDescripcion.valor}}</h2>
                    <p>{{infoDescripcion.valor}}</p>

                    <img src="{{ baseUrl() }}/{{imgDescripcion.valor}}" alt="fondo del buffet"/>

              </section>
        </div>

        <div class="md">

                 <section>
                  <h2>Men&uacute; del d&iacute;a:</h2>
                {#  <img src="{{ baseUrl() }}/{{imgMenu.valor}}" alt="menu del dia"/>#}
                  {{menu}}
                </section>

        </div>

</div>



{% endblock %}
