{% extends "layout.twig" %}

{% block contenido %}

<form action="{{ baseUrl() }}/ingresos/altaventa" target="rightframe" method="get">

 <button type="submit">NUEVA VENTA</button><br>
  
</form>

<table>
	<tr>
		<th id="nombre">Nombre</th>
		<th id="marca">Marca</th>
		<th id="IngresoDescripcion">Descripcion</th>
		<th id="Cantidad">Cantidad</th>
		<th id="PrecioUnitario">Precio unitario</th>
		<th id="Acciones">Acciones</th>
	</tr>
		{% autoescape 'html' %}
		{% for ingreso_detalle in ingresos %}

	<tr>

				<td>{{ ingreso_detalle.producto.nombre}}</td>
				<td>{{ ingreso_detalle.producto.marca}}</td>
				<td>{{ ingreso_detalle.descripcion}}</td>
				<td>{{ ingreso_detalle.cantidad }}</td>
				<td>{{ ingreso_detalle.preciounitario }}</td>
				<td>
				<a href="editingreso?id={{ ingreso_detalle.id }}"><img title="Editar" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>

				<a href="deleteVenta?id={{ ingreso_detalle.id }}"><img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>
				</td>

		{% endfor %}
		{% endautoescape %}

	</tr>

	</table>
	{% include 'paginacion/paginacionIngresos.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
