{% extends "layout.twig" %}

{% block contenido %}
<a href="{{ baseUrl() }}/ingresos/altaventa" target="rightframe"><input type="button" value="NUEVA VENTA" /></a>
<table summary="Igresos de dinero del Buffet">
	<tr>
		<th id="nombre">Nombre</th>
		<th id="marca">Marca</th>
		<th id="IngresoDescripcion">Descripcion</th>
		<th id="Cantidad">Cantidad</th>
		<th id="PrecioUnitario">Precio unitario</th>
		<th id="Acciones">Acciones</th>
	</tr>

		{% for ingreso_detalle in ingresos %}

	<tr>

				<td>{{ ingreso_detalle.producto.nombre}}</td>
				<td>{{ ingreso_detalle.producto.marca}}</td>
				<td>{{ ingreso_detalle.descripcion}}</td>
				<td>{{ ingreso_detalle.cantidad }}</td>
				<td>{{ ingreso_detalle.preciounitario }}</td>
				<td>
				<a href="ingresos/editingreso?id={{ ingreso_detalle.id }}"> <input type="button" value="Editar" /> </a>
				<a href="ingresos/deleteVenta?id={{ ingreso_detalle.id }}"> <input type="button" value="Eliminar" /></i></a>
				</td>

		{% endfor %}

	</tr>

	</table>
	{% include 'paginacion/paginacionIngresos.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
