{% extends "layout.twig" %}

{% block contenido %}

 <form action="{{ baseUrl() }}/listado/altaproducto" method="get">

 <button type="submit">Alta de producto</button><br>

</form>


<table>
	<tr>
			<th id="Nombre">NOMBRE</th>
    		<th id="Marca">MARCA</th>
   			<th id="Stock">STOCK</th>
			<th id="acciones">ACCIONES</th>

	</tr>
    {% autoescape 'html' %}
	{% for producto in productos %}
		  <tr id="{{ producto.id }}">
				<td>{{ producto.nombre }}</td>
				<td>{{ producto.marca }}</td>
				<td>{{ producto.stock }}</td>
				<td>
					<a href="editProducto?id={{ producto.id }}"><img title="Editar" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>

					<a href="delete?id={{ producto.id }}&token={{token}}"><img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>
				</td>
			</tr>
		{% endfor %}
        {% endautoescape %}
</table>
{% include 'paginacion/paginacionListado.twig' with {'pagesCount' : pagesCount} %}


{% endblock %}
