{% extends "layout.twig" %}

{% block contenido %}
<a href="{{ baseUrl() }}/altaproducto" target="rightframe"><input type="button" value="AGREGAR UN PRODUCTO" /></a>


<table summary="Tabla de productos del buffet">
	<tr>
			<th id="Nombre">NOMBRE</th>
    		<th id="Marca">MARCA</th>
   			<th id="Stock">STOCK</th>
			<th>ACCIONES</th>

	</tr>
	{% for producto in productos %}
		  <tr id="{{ producto.id }}">
				<td>{{ producto.nombre }}</td>
				<td>{{ producto.marca }}</td>
				<td>{{ producto.stock }}</td>
				<td>
					<a href="editproducto?id={{ producto.id }}"><input type="button" value="Editar" /></a>
					<a href="listado/delete?id={{ producto.id }}"><input type="button" value="Eliminar" /></a>
				</td>
			</tr>
		{% endfor %}
</table>
{% include 'paginacion/paginacionListado.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
