{% extends "layout.twig" %}

{% block contenido %}



 <form action="{{ baseUrl() }}/menu/altamenu" target="rightframe" method="get">

 <button type="submit">AGREGAR UN MENU</button><br>

</form>

<br>

<a id="notificar" href="{{ baseUrl() }}/bot?token={{token}}">Notificar </a>


<table>
	<tr>
		<th id="Fecha">FECHA</th>
		<th id="Producto">PRODUCTO</th>
		<th>ACCIONES</th>
		<th>HABILITADO</th>
	</tr>
		{% autoescape 'html' %}
		{% for menu in menus %}
		  <tr id="{{ menu.id }}">
				<td>{{ menu.fecha  }}</td>
				<td>{{ menu.producto.nombre }} {{ menu.producto.marca }}</td>
				<td>
					<a href="editMenu?id={{ menu.id }}"> <img title="Editar" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>

					<a href="delete?id={{ menu.id }}&token={{token}}"> <img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>
				</td>
        {% if menu.habilitado == 0 %}
				<td>Si</td>
				{% else %}
				<td>No</td>
				{% endif %}


			</tr>
		{% endfor %}
		{% endautoescape %}
	</table>

	{% include 'paginacion/paginacionMenu.twig' with {'pagesCount' : pagesCount} %}


{% endblock %}
