{% extends "layout.twig" %}

{% block contenido %}




<table>
	<tr>
		<th id="Usuario">Usuario</th>
		<th id="Estado">Estado del pedido</th>
		<th id="Fecha">Fecha del pedido</th>
		<th id="Observacion">Observacion</th>
		<th>ACCIONES</th>

	</tr>
		{% for pedido in pedidos %}
		  <tr id="{{ pedido.id }}">
		  	<td>{{ pedido.usuario.nombre }}</td>
			<td>{{ pedido.estado.nombre }}</td>
			<td>{{ pedido.fecha_alta|date("d/m/Y") }}</td>
			<td>{{ pedido.observacion}}</td>

			<td>
					<a href="pedidosUsuarioProd/page?pid={{ pedido.id }}&id=1"> Ver productos agregados</a>
					{% if pedido.estado.nombre == "Pendiente" %}
					<a href="aceptar?id={{ pedido.id }}"> <img title="Aceptar pedido" alt="Aceptar" src="{{ baseUrl() }}/uploads/aceptar.jpg"></a>
					<a href="cancelar?id={{ pedido.id }}"> <img title="Cancelar pedido" alt=Cancelar src="{{ baseUrl() }}/uploads/cancelar.jpg"></a>
					{% endif %}

			</td>
		</tr>
		{% endfor %}
	</table>
	{% include 'paginacion/paginacionPedidos.twig' with {'pagesCount' : pagesCount} %}



{% endblock %}
