{% extends "layout.twig" %}

{% block contenido %}


 <form action="{{ baseUrl() }}/pedidosUsuario/altaPedido" target="rightframe" method="get">

 <button type="submit">NUEVO PEDIDO</button><br>

</form>

<form action="{{ baseUrl() }}/pedidosUsuario/pedidosEntreFechas" target="rightframe" method="post">
<label>Buscar entre</label>
<input type="date" name="fechadesde" />
<input type="date" name="fechahasta" />
<input type="hidden" name="userId" value={{session.id}} />

 <button type="submit">Buscar</button><br>

</form>
<br>

<table>
	<tr>
		<th id="Pedido">FECHA</th>
    <th id="Observacion">OBSERVACION</th>
    <th id="Estado">ESTADO</th>
    <th>ACCIONES</th>

	</tr>
	{% autoescape 'html' %}
		{% for pedido in pedidos %}
    {% if pedido.usuario.id == session.id %}
		  <tr id="{{ pedido.id }}">
				<td>{{ pedido.fecha|date("d/m/Y H:i:s") }}</td>
				<td>{{ pedido.observacion }}</td>
        <td>{{ pedido.estado.nombre }}</td>


				<td>
					<a href="pedidosUsuarioProd/page?pid={{ pedido.id }}&id=1"> Ver productos agregados</a>
          {% if pedido.estado is null %}
					<a href="agregarProductoPedido?id={{ pedido.id }}"> Agregar un producto </a>
          <a href="enviarPedido?id={{ pedido.id }}&userId={{session.id}}"> Enviar Pedido </a>
          {% endif %}

          {% if pedido.estado.id == 1 %}
          	<a href="cancelarPedidoUsuario?id={{ pedido.id }}&userId={{session.id}}"> <img title="Cancelar pedido" alt=Cancelar src="{{ baseUrl() }}/uploads/cancelar.jpg"></a>

          {% endif %}

				</td>
			</tr>
    {% endif %}
		{% endfor %}
		{% endautoescape %}
	</table>



{% include 'paginacion/paginacionPedidosUsuario.twig' with {'pagesCount' : pagesCount} %}

{% endblock %}
