{% extends "layout.twig" %}

{% block contenido %}
		<table>
		  <tr>
		    <th id="Nombre">NOMBRE</th>
		    <th id="Marca">MARCA</th>
		    <th id="Stock">STOCK</th>
		    <th id="Stockmin">STOCK MÍNIMO</th>
		  </tr>
		  	{% autoescape 'html' %}
			{% for producto in productos.iterator %}
				<tr id="{{ producto.id }}">
					<td>{{ producto.nombre }}</td>
					<td>{{ producto.marca }}</td>
					<td>{{ producto.stock }}</td>
					<td>{{ producto.stock_minimo }}</td>
				</tr>
			{% endfor %}
			{% endautoescape %}
		  </table>
{% include 'paginacion/paginacionStockMin.twig' with {'pagesCount' : pagesCount} %}
{% endblock %}
