{% extends "layout.twig" %}

{% block contenido %}

<a href="{{ baseUrl() }}/altausuario" target="rightframe"><input type="button" value="AGREGAR UN USUARIO" /></a>

<table summary="Tabla de usuarios del buffet">
	<tr>
		<th id="Nombre">NOMBRE</th>
		<th id="MiembroDesde">DOCUMENTO</th>
		<th>ACCIONES</th>
		<th>HABILITADO</th>
	</tr>
		{% for usuario in usuarios %}
		  <tr id="{{ usuario.id }}">
				<td>{{ usuario.usuario }}</td>
				<td>{{ usuario.documento }}</td>
				<td>
					<a href="edituser?id={{ usuario.id }}"> <input type="button" value="Editar" /> </a>

					<a href="delete?id={{ usuario.id }}"> <input type="button" value="Eliminar" /></i></a>
				</td>
				{% if usuario.habilitado == 0 %}
				<td>Si</td>
				{% else %}
				<td>No</td>
				{% endif %}


			</tr>
		{% endfor %}
	</table>


{% endblock %}
