{% extends "layout.twig" %}

{% block contenido %}



 <form action="{{ baseUrl() }}/users/altausuario" target="rightframe" method="get">

 <button type="submit">AGREGAR UN USUARIO</button><br>
  
</form>

<table>
	<tr>
		<th id="Nombre">NOMBRE</th>
		<th id="MiembroDesde">DOCUMENTO</th>
		<th>TIPO USUARIO</th>
		<th>ACCIONES</th>
		<th>HABILITADO</th>
	</tr>
		{% for usuario in usuarios %}
		  <tr id="{{ usuario.id }}">
				<td>{{ usuario.usuario }}</td>
				<td>{{ usuario.documento }}</td>
				{% if usuario.rol_id == 1 %}
				<td>Administrador</td>
				{% endif %}
				{% if usuario.rol_id == 2 %}
				<td>Usuario Online</td>
				{% endif %}
				{% if usuario.rol_id == 3 %}
				<td>Gestion</td>
				{% endif %}
				<td>
					<a href="edituser?id={{ usuario.id }}"> <img title="Editar" alt="Editar" src="{{ baseUrl() }}/uploads/editar.png"></a>

					<a href="delete?id={{ usuario.id }}"> <img title="Eliminar" alt="Eliminar" src="{{ baseUrl() }}/uploads/eliminar.png"></a>
				</td>
				{% if usuario.habilitado == 0 %}
				<td>Si</td>
				{% else %}
				<td>No</td>
				{% endif %}


			</tr>
		{% endfor %}
	</table>

	{% include 'paginacion/paginacionUsuarios.twig' with {'pagesCount' : pagesCount} %}


{% endblock %}
