<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>Buffet</title>
		<script src="https://code.highcharts.com/highcharts.js"></script>
		<script src="https://code.highcharts.com/modules/data.js"></script>
		<script type="text/javascript" src="{{ baseUrl() }}/js/jquery-3.1.1.min.js"></script>
		<script src="https://code.highcharts.com/modules/drilldown.js"></script>
		<script src="http://code.highcharts.com/modules/offline-exporting.js"></script>
		<script src = "http://code.highcharts.com/modules/exporting.js"> </script>

		<link rel="stylesheet" type="text/css" href="{{ baseUrl() }}/style.css">
	</head>
<body>


<header>
   <h1>Buffet de la Facultad</h1>
</header>

<nav class="barra">
  <ul>
    <li><a href="{{ baseUrl() }}/">Inicio</a></li>
		  {% if session.user is not null %}
				{% if session.rol == 1 or session.rol == 3  %}
					<li><a href="{{ baseUrl() }}/backend">Operaciones</a></li>
				{% endif %}
				{% if session.rol == 2 %}
					<li><a href="{{ baseUrl() }}/pedidosUsuario/page?id=1&userId={{ session.id }}">Pedidos</a></li>
				{% endif %}
				<li><a href="{{ baseUrl() }}/logout">Cerrar Sesi&oacute;n</a></li>
			{% else %}
    <li><a href="{{ baseUrl() }}/login">Iniciar Sesi&oacute;n</a></li>
		 {% endif %}

  </ul>
</nav>
{% if flash is not empty %}
		{% include 'components/messages.twig' %}
	{% endif %}
